---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import AboutComponent from "@/layouts/home/About.astro";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;
---

<BaseLayout
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <div class="max-w-7xl mx-auto container">
    <AboutComponent />
  </div>
</BaseLayout>
