---
import Base from "@/layouts/Base.astro";
import { FaWhatsapp } from "react-icons/fa";

const whatsappNumber = "8124928892"; // Reemplaza con tu número de WhatsApp
---

<Base
  title="Contactanos"
  meta_title="Contactanos"
  description="Contactanos para informar de tus dudas o para hacer una consulta"
  image="/images/contact.jpg"
>
  <section class="section">
    <div class="container mx-auto flex flex-col items-center">
      <h1 class="title text-4xl py-12">Contáctanos</h1>
      <div class="flex justify-center">
        <a
          href={`https://wa.me/${whatsappNumber}`}
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary flex items-center space-x-2 px-6 py-3 text-lg"
        >
          <FaWhatsapp className="text-2xl" />
          <span>Contáctanos por WhatsApp</span>
        </a>
      </div>
    </div>
  </section>
</Base>
