<header class="relative h-screen flex items-center justify-center overflow-hidden">
  <div class="absolute inset-0 z-0">
    <img
      src="/images/fisioterapia.jpg"
      alt="Fondo de fisioterapia"
      class="w-full h-full object-cover filter brightness-50"
    />
  </div>
  <div class="relative z-10 text-center text-white px-4 text-balance">
    <h1 class="text-4xl xl:text-6xl md:text-6xl font-bold mb-4">
      Camino a tu recuperación
    </h1>
    <p class="text-xl md:text-2xl mb-8">
      Centro de Fisioterapia y Rehabilitación Física
    </p>
    <div class="flex flex-col sm:flex-row justify-center gap-4">
    </div>
  </div>
</header>
